*{
    margin: 0px ; padding: 0px;
    box-sizing: border-box ;
    
}


body{
background-color: gray;

}
.bg-white{
    background-color: #ffffff;
    width: 30 px;
    margin: 50px;
 

}

.one-div{
    background-color: skyblue;
    margin: 10px;
   
}

.two-div{
background-color:skyblue  ;
margin: 10px;

}
.three-div{

    background-color: skyblue;

    margin: 10px;
}

.fahad-one{

    background-color: skyblue;
    margin: 10px;
}
.usama-one{
    background-color: skyblue;
    margin: 10px;
}
.saad-one{

    background-color: skyblue;
    margin: 10px;
}
.sam-one{

    background-color:green;
    margin: 10px;
}
.joe-done{
    background-color:rgb(244, 96, 224);
    margin: 10px;
}
.sulek{
    background-color: rgb(244, 96, 224);
    margin: 10px;
}
.cbum{

    background-color: rgb(244, 96, 224);
    margin: 10px;
}
.pg-1{

    background-color: rgb(244, 96, 224);
    margin: 10px;
}
.pg-2{
    
    background-color: rgb(244, 96, 224);
    margin: 10px;

}
.pg-3{

    background-color:  rgb(244, 96, 224) ;
    margin: 10px;
}

